<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olmo Biancardi | Portfolio</title>
    <meta name="author" content="Olmo Biancardi">
    <meta name="description" content="Olmo Biancardi porfolio. Here you can take a look at some of my works on web programming, design and marketing.">
    <meta name="keywords" content="olmo,biancardi,portfolio,blog,website,fullpage,jquery,plugin,fullscren,screen,full,developer">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- Link to my CSS -->
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>

    <!-- HEADER -->
    <header id="header" class="sticky-navbar">
        <div class="header-container">
            <h1 class="header-logo">
                Olmo Biancardi
                <span class="logo-end">_</span>
            </h1>
            <ul class="header-menu">
                <li class="header-element">About</li>
                <li class="header-element">Skills</li>
                <li class="header-element">Projects</li>
                <li class="header-element">Resume</li>
                <li class="header-element">Contact</li>
            </ul>
        </div>
    </header>

    <!-- MAIN -->
    <main>
        <!-- SECTION 0 // INTRO -->
        <section class="section-container">
            <div class="intro">
                <h3 class="intro-text">
                    Hello there! I'm <span class="blue-underline">Olmo Biancardi</span>.
                    <br>
                    <h5 class="intro-sub-title">Front End Developer | Digital Nomad | Filmaker</h5>
                </h3>
                <div class="social-links">
                    <ul class="social-links-list">
                        <li class="social-link-element">
                            <a href="https://www.linkedin.com/in/olmo-biancardi-a47144195/"><i class="fab fa-linkedin-in social-icon"></i></a>
                        </li>
                        <li class="social-link-element">
                            <a href="https://github.com/olmobianc"><i class="fab fa-github social-icon"></i></a>
                        </li>
                        <li class="social-link-element">
                            <a href="#contact-me"><i class="far fa-envelope social-icon"></i></a>  
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- SECTION 1 // ABOUT -->
        <div class="dark-background">
            <section class="section-container">
                <h2 class="section-title">
                    About
                    <span class="logo-end">_</span>
                </h2>
                <p class="about-first-paragraph">
                    I'm a web developer who aims to combine the beauty of design with the logical 
                    perfection of coding. Training myself every day and pushing my own limits to discover 
                    new ways of creating a great experience for the users.
                </p>
                <div class="about">
                    <div class="about-profile-picture">
                        <img src="../media/profile pic.jpg" class="about-image">
                    </div>
                    <div class="about-text-description">
                        <p class="about-second-paragraph">
                            I'm 24 years old, from Italy. I'm a computer scientist and own a BSc in 
                            Computer Engineering from <span class="blue-underline">Politecnico di Milano</span> and a Nano Degree in Front End web Developing from Udacity. 
                            I previously worked at <span class="blue-underline">Deloitte</span> as a Junior Front End Developer in Milan, Italy.
                            <br>
                            <br>
                            Oh yeah, I have many interests besides technology too! I love nature and outdoor sports and
                            during my free time you'll find me surfing some waves, rock climbing in the mountains or creating 
                            a movie for my YouTube channel.
                        </p>
                    </div>
                </div>
            </section>
        </div>

        <!-- SECTION 2 // SKILLS -->
        <div class="white-background">
            <section class="section-container">
                <h2 class="section-title">
                    Skills
                    <span class="logo-end">_</span>
                </h2>
                <p class="about-first-paragraph">
                    From my past studies and work experiences I've developed skills building modular front-end commercial solutions
                    and writing asynchronous web applications. Plus, I have strong knowledge of the fundamentals of core web-based 
                    languages with early adoption of emerging technologies and standards as part of my personal dedication 
                    to professional development.
                </p>
                <div class="skills-container">
                    <div class="languages">
                        <h5 class="skill-element">Languages:</h5>
                        <p class="skills">HTML, CSS(SASS & LESS), Javascript, C, Java</p>
                    </div>
                    <div class="related-skills">
                        <h5 class="skill-element">Related Skills:</h5>
                        <p class="skills">Git, NPM, InVision, Photoshot</p>
                    </div>
                    <div class="frameworks">
                        <h5 class="skill-element">Frameworks, Tools:</h5>
                        <p class="skills">Webpack, Bootstrap, Foundation, Salesforce, Node.js Jira, Octane</p>
                    </div>
                    <div class="soft-skills">
                        <h5 class="skill-element">Soft Skills:</h5>
                        <p class="skills">Communication, Leadership, Teamwork, Curiosity, Patience, Critical Thinking,
                           Problem Solving, Organized, Creative, Entrepreneurial Mindset, Inspiring, Time Management
                        </p>
                    </div>

                </div>
            </section>
        </div>
        
         <!-- SECTION 3 // PROJECTS -->
         <div class="dark-background">
            <section class="section-container">
                <h2 class="section-title">
                    Projects
                    <span class="logo-end">_</span>
                </h2>
                <p class="about-first-paragraph">
                    Here you can find a list of all the projects I've worked on.
                </p>
            </section>
        </div>

    </main>
    
    <!--Load scipts-->
    <script src="../js/app.js" type="text/javascript"></script>
</body>
</html>