.header-container {
    display: flex;
    min-height: 12vh;
    align-items: center;
    justify-content: space-around;
}

.header-logo {
    letter-spacing: 1px;
    color: white;
}

.header-menu {
   list-style-type: none;
}

.header-element {
    display: inline-block;
    margin: 12px 24px;
    font-size: 17px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    border-bottom: 3px solid $main-color;
}

.sticky-navbar {
    position: fixed;
    background: $dark-color;
    width: 100%;
    z-index: 999;
}

/* To add whit JS */
.border-bottom-added {
    border-bottom: 1px solid #ccc;
}

.active {
    color: $main-color;
}

/*MOBILE*/
@media(max-width:767px) {
    .header-container {
        display: block;
        padding: 12px;
        margin: 0;
        width: auto;
    }

    .header-element {
        margin: 5px;
        font-size: 15px;
    }

    .header-logo {
        font-size: 16px;
    }

    .sticky-navbar {
        width: 100%;
        z-index: 999;
    }
    
}

/*TABLET*/
@media(min-width: 768px) and (max-width: 1100px) {
    .header-container {
        margin: 0;
    }
    .header-menu {
        flex: 1;
        position: relative;
    }
    .header-logo {
        flex: 8;
        margin-left: 50px;
    }
    .menu {
        display: none;
        height: 100vh;
        background: rgba(0,0,0,.2);
     }
     .header-element {
        font-size: 30px;
        text-align: center;
        top: 12vh
    }
    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
        transition: all .5s ease-in-out;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        top: -10px;
        transition: all .5s ease-in-out;
    }
    .open {
        top: 0;
    }
    #menuButton:nth-child(2).open {
        transform: translate(100px, 20px);
        background: transparent;
    }
}

