.header-container {
    display: flex;
    min-height: 12vh;
    align-items: center;
    justify-content: space-around;
}
.header-logo {
    letter-spacing: 1px;
    color: white;
}

.header-menu {
   list-style-type: none;
}

.header-element {
    display: inline-block;
    margin: 12px 24px;
    font-size: 17px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    border-bottom: 3px solid $main-color;
}

.sticky-navbar {
    position: fixed;
    background: $dark-color;
    width: 100%;
    z-index: 999;
    transition: top 0.6s ease-in-out;
}

/* To add whit JS */
.border-bottom-added {
    border-bottom: 2px solid #ccc;
}

.active {
    color: $main-color;
}

/*MOBILE*/
@media(max-width:767px) {
    .header-container {
        margin: 0;
        display: block;
        min-height: 10vh;
    }
    .header-menu {
        flex: 1;
        position: relative;
    }
    .header-logo {
        flex: 8;
        margin-left: 20px;
        font-size: 24px;
    }
    .menu {
        display: none;
        height: 100vh;
        width: 100vw;
        background: rgba(0,0,0,.2);
    }
    .header-element {
        font-size: 30px;
        padding: 45px;
        margin: 0;
        display: block;
        text-align: center;
    }
    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
        transition: all .5s ease-in-out;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        top: -28px;
        right: 10px;
    }
    .open {
        top: 0;
        transform: translateX(-50px);
        transition: all .5s ease-in-out;
        .line:nth-child(1) {
            transform: rotate(45deg) translate(20px, -15px);
            transition: all .5s ease-in-out;
        }
        .line:nth-child(2) {
            display: none;
            transition: all .5s ease-in-out;
        }
        .line:nth-child(3) {
            transform: rotate(-45deg) translate(20px, 15px);
            transition: all .5s ease-in-out;
        }
    }
    .menu-active {
        display: block;
    }
    #menuButton.open {
        right: 15px;
        top: 18px;
    }
    .hidden {
        display: none;
    }
}


/*TABLET*/
@media(min-width: 767px) and (max-width: 1100px) {
    .header-container {
        margin: 0;
        min-height: 8vh;
    }
    .header-menu {
        flex: 1;
        position: relative;
    }
    .header-logo {
        font-size: 36px;
        flex: 8;
        margin-left: 50px;
    }
    .menu {
        display: none;
        height: 100vh;
        width: 100vw;
        background: rgba(0,0,0,.2);
    }
    .header-element {
        font-size: 40px;
        padding: 45px;
        margin: 0;
        display: block;
        text-align: center;
    }
    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
        transition: all .5s ease-in-out;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        top: -16px;
    }
    .open {
        top: 0;
        transform: translateX(-100px);
        transition: all .5s ease-in-out;
        .line:nth-child(1) {
            transform: rotate(45deg) translate(20px, -15px);
            transition: all .5s ease-in-out;
        }
        .line:nth-child(2) {
            display: none;
            transition: all .5s ease-in-out;
        }
        .line:nth-child(3) {
            transform: rotate(-45deg) translate(20px, 15px);
            transition: all .5s ease-in-out;
        }
    }
    .menu-active {
        display: block;
    }
    #menuButton.open {
        right: 15px;
        top: 18px;
    }
    .hidden {
        display: none;
    }
}

