.header-container {
    display: flex;
    width: 70%;
    margin: 30px auto;
}

.header-logo {
    flex: 1;
    letter-spacing: 1px;
    color: white;
}

.header-menu {
   list-style-type: none;
}

.header-element {
    display: inline-block;
    margin: 12px 24px;
    font-size: 17px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    border-bottom: 3px solid $main-color;
}

.sticky-navbar {
    position: fixed;
    background: $dark-color;
    width: 100%;
    z-index: 999;
}

/* To add whit JS */
.border-bottom-added {
    border-bottom: 1px solid #ccc;
}

.active {
    color: $main-color;
}

/*MOBILE*/
@media(max-width:767px) {
    .header-container {
        display: block;
        padding: 12px;
        margin: 0;
        width: auto;
    }

    .header-element {
        margin: 5px;
        font-size: 15px;
    }

    .header-logo {
        font-size: 16px;
    }

    .sticky-navbar {
        width: 100%;
        z-index: 999;
    }
}

/*TABLET*/
@media(min-width: 768px) and (max-width: 1100px) {
    .header-container {
        padding: 12px;
        width: 100%;
    }
    .header-element {
        margin: 5px;
        font-size: 15px;
    }
}

