.intro {
    padding: 13em 0;
    text-align: center;
}

.intro-text {
    font-size: 45px;
    line-height: 70px;
    font-weight: 500;
}

.blue-underline {
    text-decoration: underline #17a8e3;
}

.intro-sub-title {
    font-size: 24px;
    padding: 24px 0;
}

.social-links {
    margin-top: 30px;
}

.social-links-list {
    list-style-type: none;
}

.social-link-element {
    display: inline-block;
    padding: 10px 40px;
}

.social-icon {
    font-size: 40px;
    color: #000;
}

.social-icon:hover {
    color: #17a8e3;
}