.background-image {
    /*background-image: url('../media/woods\ pic.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    padding: 16em 0 18em;
    text-align: center;
    color: black;
}

.intro-text {
    font-size: 45px;
    line-height: 70px;
    font-weight: 700;
}

.intro-sub-title {
    font-size: 24px;
    padding: 24px 0;
}

.social-links {
    margin-top: 20px;
}

.social-links-list {
    list-style-type: none;
}

.social-link-element {
    display: inline-block;
    padding: 10px 20px;
}

.social-icon {
    font-size: 40px;
    font-weight: 700;
    color: black;
}

.social-icon:hover {
    color: $main-color;
    
}

.brown-hover {
    color: $main-color;
    text-decoration: none;
}

.hover-underline:hover {
    text-decoration: underline;
}

/*MOBILE*/
@media(max-width:768px) {
    .intro {
        padding: 10em 1.5em 8em;
    }
    .intro-text {
        font-size: 30px;
        line-height: 40px;
    }
    .intro-sub-title {
        font-size: 18px;
    }
    .social-icon {
        font-size: 28px;
    }
}

/*TABLET*/
@media(min-width: 768px) and (max-width: 1100px) {
    .intro {
        padding: 16em 0 12em;
    }
}