.background-image {
    background-image: url('/src/media/IMG_7318.png.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    padding: 13em 0 18em;
    text-align: center;
    color: black;
}

.intro-text {
    font-size: 45px;
    line-height: 70px;
    font-weight: 700;
}

.intro-sub-title {
    font-family: cursive;
    font-size: 24px;
    letter-spacing: -2px;
    padding: 24px 0;
}

.social-links {
    margin-top: 20px;
}

.social-links-list {
    list-style-type: none;
}

.social-link-element {
    display: inline-block;
    padding: 10px 20px;
}

.social-icon {
    font-size: 40px;
    font-weight: 700;
    color: black;
}

.social-icon:hover {
    color: #c5610f;
    
}

.brown-hover {
    color: white;
    text-decoration: none;
}

.brown-hover:hover {
    color: #c5610f;
}