//$main-color: #c74234;
$main-color: #ce580ae5;
$hover-color: #df8600;
//$dark-color : #171c27;
$dark-color: rgba(0, 0, 0, 0.9);

@import "header.scss";
@import "footer.scss";
@import "intro.scss";
@import "about.scss";
@import "skills.scss";
@import "projects.scss";
@import "resume.scss";
@import "contact.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    color: #000;
}

.section-container {
    margin: 0 230px;
}

.section-title {
    font-size: 60px;
}

.orange-text {
    color: $main-color;
}

.dark-background{
    background: $dark-color;
    color: white;
    padding: 120px 50px 150px;
}

.white-background {
    background: white;
    padding: 120px 50px 150px;
}

.logo-end {
    color: $main-color;
    font-size: 1.3em;
}

.blue-underline {
    text-decoration: underline $main-color;
}

.blue-bottom-border {
    border-bottom: 3px solid $main-color;
}

.cursive {
    text-decoration: underline $main-color;
}

//CLASSES ADDED DINAMICALLY WITH JS
.active {
    color: $main-color;
    border-bottom: 3px solid $main-color;
}

/*MOBILE*/
@media(max-width:768px) {
    .section-container {
        margin: 0;
    }
    .dark-background{
        padding: 30px 25px 70px;
    }
    .white-background {
        padding: 30px 25px 70px;
    }
    .section-title {
        font-size: 36px;
    }
}

.no-overflow {
    overflow: hidden;
}

/*TABLET*/
@media(min-width: 768px) and (max-width: 1100px) {
    .section-container {
        margin: 0;
    }
}

/*TABLET-DESKTOP*/
@media(min-width: 1101px) and (max-width: 1500px) {
    .section-container {
        margin: 0 100px;
    }
}