$main-color: #c74234;
$hover-color: #cc3625;
$dark-color : #171c27;

@import "header.scss";
@import "footer.scss";
@import "intro.scss";
@import "about.scss";
@import "skills.scss";
@import "projects.scss";
@import "resume.scss";
@import "contact.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    color: #000;
}

.section-container {
    margin: 0 230px;
}

.section-title {
    font-size: 60px;
}

.dark-background{
    background: $dark-color;
    color: white;
    padding: 120px 50px 150px;
}

.white-background {
    background: white;
    padding: 120px 50px 150px;
}

.logo-end {
    color: $main-color;
    font-size: 1.3em;
}

.blue-underline {
    text-decoration: underline $main-color;
}

.blue-bottom-border {
    border-bottom: 3px solid $main-color;
}

.cursive {
    text-decoration: underline $main-color;
}

/*MOBILE*/
@media(max-width:767px) {
    .section-container {
        margin: 0;
    }
    .dark-background{
        padding: 30px 20px 70px;
    }
    .white-background {
        padding: 30px 20px 70px;
    }
    .section-title {
        font-size: 36px;
    }
}
