@import "header.css";
@import "footer.css";
@import "intro.css";
@import "about.css";
@import "skills.css";
@import "projects.css";
@import "resume.css";
@import "contact.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    color: #000;
}

.section-container {
    margin: 0 230px;
}

.section-title {
    font-size: 60px;
}

.dark-background{
    background: #212028;
    color: white;
    padding: 120px 50px 150px;
}

.white-background {
    background: white;
    padding: 120px 50px 150px;
}

.logo-end {
    color: #c5610f;
    font-size: 1.3em;
}

.blue-underline {
    /*text-decoration: underline #17a8e3;*/
    text-decoration: underline #c5610f;
}

.blue-bottom-border {
    border-bottom: 3px solid #17a8e3;
}

