$text-color: rgb(108, 121, 134);

.carousel-wrapper {
    margin-top: 80px;
    overflow: hidden;
    color: $text-color;
}

.carousel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
    "left"
    "mid"
    "right"
}

.carousel-photo {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.carousel-photo:hover {
    border: 3px solid white;
    $text-color: white;
}

.project-number {
    margin-bottom: 60px;
}

.project-info {
    margin-left: 40px;
}

.black-background {
    background: black !important;
}

