.header-container {
    display: flex;
    width: 70%;
    margin: 30px auto;
}

.header-logo {
    flex: 1;
    letter-spacing: 1px;
}

.logo-end {
    color: #17a8e3;
    font-size: 1.3em;
}

.header-menu {
   list-style-type: none;
}

.header-element {
    display: inline-block;
    margin: 12px 24px;
    font-size: 17px;
}