.header-container {
    display: flex;
    width: 70%;
    margin: 30px auto;
}

.header-logo {
    flex: 1;
    letter-spacing: 1px;
}

.logo-end {
    color: #17a8e3;
    font-size: 1.3em;
}

.header-menu {
   list-style-type: none;
}

.header-element {
    display: inline-block;
    margin: 12px 24px;
    font-size: 17px;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    border-bottom: 3px solid #17a8e3;
}

.sticky-navbar {
    position: fixed;
    background: white;
    width: 100%;
    z-index: 999;
}

/* To add whit JS */
.border-bottom-added {
    border-bottom: 1px solid #ccc;
}

