

.carousel-wrapper {
    margin-top: 80px;
    color: white;
}

.carousel {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 85px;
    grid-template-areas:
    "left"
    "mid"
    "right"
}

.carousel-photo {
    width: 100%;
    opacity: 80%;
    height: 83%;
    margin-bottom: 30px;
    transition: transform .2s; /*transform will aplly after 0.2 sec*/
}

.carousel-photo:hover {
    border: 3px solid white;
    opacity: 95%;
    transform: scale(1.2);
}

.project-info {
    margin-left: 40px;
}

.black-background {
    background: black !important;
}

